<% include partials/mainheader.ejs %>
<head>
    <title>Chigao In Int.</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
    </style>
</head>
<body class="w3-light-grey">
<div class="w3-row-padding" id="about">
    <div class="w3-col 20 30">
        <h3 class="w3-light-gray">About</h3>
        <h4>Our hotel is one of a kind. It is truely amazing.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid animi cupiditate dolorem iusto mollitia placeat quasi similique. At dicta, error minus neque omnis repudiandae sed similique! Doloremque, numquam quo! Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Aspernatur atque blanditiis doloremque doloribus ea expedita id impedit magni, nihil quas reprehenderit sunt voluptates voluptatibus. Deserunt laudantium libero nihil nulla? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi atque consequuntur earum et expedita illo, impedit incidunt ipsa maiores necessitatibus obcaecati, odit quasi repellat rerum sunt tenetur totam, unde vero.
.</h4>
        <p>We accept: <i class="fa fa-credit-card w3-large"></i>
            <i class="fa fa-cc-mastercard w3-large"></i>
            <i class="fa fa-cc-amex w3-large"></i>
            <i class="fa fa-cc-cc-visa w3-large"></i>
            <i class="fa fa-cc-paypal w3-large"></i>
        </p>
    </div>
    <div class="w3-col l4 12">
        <h3> User Manual</h3>
        <h4>
            <ul>
                <li>To Add a New User >>>   <a href="/registration" title="Add User">Add User</a> </li><br>
                <li>To View  User Data >>>  <a href="/userdata" title="View User">View User</a></li><br>
                <li>To Add a New Guest >>>  <a  href="/addguest" title="Add Guest Data">Add Guest Data</a></li><br>
                <li>To View  Guest Data >>> <a href="/guestdata" title="View Guest Data">View Guest Data</a></li><br>
                <li>To Live Chat  >>>       <a href="/livechat" title="Live Chat">Live Chat</a></li><br>
                <li>To LogOut>>>            <a href="/logout" title="Log Out">Logout</a></li><br>
            </ul>
        </h4>
    </div>
    <br><br><br>
    <div class="w3-row-padding w3-large w3-center" style="margin:32px 0">
        <div class="w3-third"><i class="fa fa-map-marker w3-text-red"></i> 423 Some adr, Chicago, US</div>
        <div class="w3-third"><i class="fa fa-phone w3-text-red"></i> Phone: +00 151515</div>
        <div class="w3-third"><i class="fa fa-envelope w3-text-red"></i> Email: mail@mail.com</div>
    </div>

</div>

</body>
</html>