<% include partials/mainheader.ejs %>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
</style>
            <div class="container">
                <h2>User Login Page</h2>
                <% if (message) { %>
                    <p><%= message %></p>
                <%}%>
                <form action="/login" method="post">

                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" class="form-control" value="admin" id="email" placeholder="Enter email" name="email">
                    </div>

                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" value="admin" id="pwd" placeholder="Enter password" name="pwd">
                    </div>

                    <button type="submit" class="btn btn-default">Login</button>

                </form>
            </div>
        </div>
    </body>
</html>